<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <LHN_HelpOutTab>
            <version>1.3</version>
        </LHN_HelpOutTab>
    </modules>
    <global>
        <blocks>
            <lhn_helpouttab>
                <class>LHN_HelpOutTab_Block</class>
            </lhn_helpouttab>
        </blocks>
        <models>
            <lhn_helpouttab>
                <class>LHN_HelpOutTab_Model</class>
            </lhn_helpouttab>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <lhn_helpouttab module="LHN_HelpOutTab">
                    <file>lhn_helpouttab.xml</file>
                </lhn_helpouttab>
            </updates>
        </layout>
    </frontend>
    <default>
        <lhn_helpouttab>
            <general>
            	<chat_window>0</chat_window>
            	<department>0</department>
            	<theme>default</theme>
                <search_title>Find answers</search_title>
                <search_message>Please search our knowledge base for answers or click [More options]</search_message>
                <no_results>No results found for</no_results>
                <views>view</views>
            </general>
        </lhn_helpouttab>
    </default>
</config>